 <div class="modal fade" tabindex="-1" id="itemDescription_<%=product.id%>" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            &times;
        </button>
      </div>
      <div class="modal-body" style="overflow-y:auto;">
        <div class="row">
		    <div class="col-lg-6">
		      <img src="/assets/Barley_Atta_1024x1024.jpg" class="img-responsive" alt="Cinque Terre">
		    </div>
		    <div class="col-lg-6">
		      <h1 style="color:#f7931d;">Barley Atta Mix</h1>
		      <h5>92 in stock</h5>
		      <%=form_for OrderItem.new do |f|%>
			      <label for="inputsm">RS <%=product.price%></label>
			      <hr>
			      <%= f.hidden_field :product_id, value: product.id %>
			      Quantity &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" style="width:60px;" pattern="[0-9]*" name="order_item[quantity]" class="quantity-input" min="1" value="1" required="required"></span>
						<br>
						<br>
						<%=f.submit "Add To Cart", class: "btn btn-warning btn-large;", style: "height:100%;width:100%"%>
            <br><br>
		      <%end%>
				<p>On Purchase Of Rs. 500+ the Shipping Charges are Free !</p>
				<hr>
				<h3><a href="/homes/see_more_details">See More Details ></a></h3>
				<h5 style="color: #a53d3a;"><u>DESCRIPTION</u></h5>
				<p>Flour with the goodness of barley</p>
				<p>Shelf Life: 5 Months</p>
				<p>Ingredients: Barley</p>
				<p>Serving size: Comparitively fewer need for chappatis&nbsp;</p>
				<p>Best served with curries, vegetables, gravy, or stuffed</p>
				<p>Allergen: The product doesn’t contain yeast , nut and egg. &nbsp;Not suitable for individuals with gluten sensitivity, corn and soy allergy. &nbsp;</p>
			</div>
		  </div>
      </div>
    </div>
	</div>
</div>