 <div class="modal fade" tabindex="-1" id="itemDescription_<%=product.id%>" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            &times;
        </button>
      </div>
      <div class="modal-body" style="overflow-y:auto;">
        <div class="row">
		    <div class="col-lg-6">

		      <img src="<%=  product.images.first.name_url %>" class="img-responsive" alt="Cinque Terre">
		    </div>
		    <div class="col-lg-6">
		      <h1 style="color:#f7931d;"><%= product.name %></h1>
		      <!-- <h5>92 in stock</h5> -->
		      <%=form_for OrderItem.new do |f|%>
			      <label for="inputsm">RS <%=product.price%></label>
			      <hr>
			      <%= f.hidden_field :product_id, value: product.id %>
			      Quantity &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" style="width:60px;" pattern="[0-9]*" name="order_item[quantity]" class="quantity-input" min="1" value="1" required="required"></span>
						<br>
						<br>
						<%=f.submit "Add To Cart", class: "btn btn-warning btn-large;", style: "height:100%;width:100%"%>
            <br><br>
		      <%end%>
				<%= product.description.html_safe %>
			</div>
		  </div>
      </div>
    </div>
	</div>
</div>