<!DOCTYPE html>
<html>
  <head>
    <title>Anndefined</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  	<%unless params[:action] == "index"%>
  	  <%=render 'layouts/header'%>
    <%end%>  

    <%= render 'layouts/messages' %>
    <%= yield %>
    <% if params[:action] != "index" %>
      <%= render 'layouts/footer'%>
    <% end %>
  </body>
</html>

<style>
.loader {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>


<style type="text/css">
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 380px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

</style>
</head>

